<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155999597-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155999597-1');
    </script>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>How Effective is My Running Plan?</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/business-frontpage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="./">How effective is my running plan?</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div><br></div>
  <!-- Header 
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">How effective is my running plan?</h1>
          <p class="lead mb-5 text-white-50">sfasfasff</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <p>
        <h4>How can you best improve, compared to the best improvements in fitness?</h4>
            The previous page was all about absolute fitness. On the next page, we look at things that athletes did to get fitter, compared to what you did to achieve your last PB.
            
            Again, this is all relative to what the model determines important. The list is <b>ordered</b> by a combination of the importance of this aspect in anyone's training, and your performance in this aspect. So the higher up the item, the more you need to work on it according to the model.
            
            Here, the information is even more useful than before, because these all show how athletes ran  a better PB, regardless where they started off.

        <p>
        <p>
        <img src="../plots/athletevsbestimprovement?id={{athlete_id}}&random={{random_num}}" />  
        <p>
 
		</p>
      </div>
      <div class="col-md-4 mb-5">
        <h3>Confused? More info on:</h3>
        <a href="/about" target="_blank">How to read your data</a><br>
        <a href="/about" target="_blank">This model</a><br>
        <a href="https://en.wikipedia.org/wiki/Jack_Daniels_(coach)#VDOT" target="_blank">vdot</a><br>
        <a href="https://www.runnersworld.com/uk/training/beginners/a760176/heart-rate-training-the-basics/" target="_blank">Heart rate zones</a><br>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; <a href="https://rian-van-den-ander.github.io/" target="_blank"><font color="white"><u>Rian van den Ander</u></font></a> 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
